<!--begin::Statistics Widget-->
<div class="card card-flush card-p-0 card-reset mb-10">
    <!--begin::Header-->
    <div class="card-header align-items-center border-0">
        <!--begin::Title-->
        <h3 class="card-title fw-bold text-white fs-3">Outgoing Emails</h3>
        <!--end::Title-->
        <!--begin::Toolbar-->
        <div class="card-toolbar">
            <button type="button" class="btn btn-icon btn-icon-white btn-active-color-primary me-n4" data-kt-menu-trigger="click" data-kt-menu-overflow="true" data-kt-menu-placement="bottom-end">
                <i class="ki-duotone ki-category fs-6"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>            </button>
<!--layout-partial:partials/menus/_menu-2.html-->
        </div>
        <!--end::Title-->
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body">
        <!--begin::Row-->
        <div class="row g-5">
                            <!--begin::Col-->
                <div class="col-6">
                    <!--begin::Item-->
                    <div class="sidebar-border-dashed d-flex flex-column justify-content-center rounded p-3 p-xxl-5">
                        <!--begin::Value-->
                        <div class="text-white fs-2 fs-xxl-2x fw-bold mb-1" data-kt-countup="true" data-kt-countup-value="160" data-kt-countup-prefix="">
                        0
                        </div>
                        <!--begin::Value-->
                        <!--begin::Label-->
                        <div class="sidebar-text-muted fs-6 fw-bold">
                            Sending                        </div>
                        <!--end::Label-->
                    </div>
                    <!--end::Item-->
                </div>
                <!--end::Col-->
                            <!--begin::Col-->
                <div class="col-6">
                    <!--begin::Item-->
                    <div class="sidebar-border-dashed d-flex flex-column justify-content-center rounded p-3 p-xxl-5">
                        <!--begin::Value-->
                        <div class="text-white fs-2 fs-xxl-2x fw-bold mb-1" data-kt-countup="true" data-kt-countup-value="2600" data-kt-countup-prefix="">
                        0
                        </div>
                        <!--begin::Value-->
                        <!--begin::Label-->
                        <div class="sidebar-text-muted fs-6 fw-bold">
                            Sent                        </div>
                        <!--end::Label-->
                    </div>
                    <!--end::Item-->
                </div>
                <!--end::Col-->
                            <!--begin::Col-->
                <div class="col-6">
                    <!--begin::Item-->
                    <div class="sidebar-border-dashed d-flex flex-column justify-content-center rounded p-3 p-xxl-5">
                        <!--begin::Value-->
                        <div class="text-white fs-2 fs-xxl-2x fw-bold mb-1" data-kt-countup="true" data-kt-countup-value="2500" data-kt-countup-prefix="">
                        0
                        </div>
                        <!--begin::Value-->
                        <!--begin::Label-->
                        <div class="sidebar-text-muted fs-6 fw-bold">
                            Delivered                        </div>
                        <!--end::Label-->
                    </div>
                    <!--end::Item-->
                </div>
                <!--end::Col-->
                            <!--begin::Col-->
                <div class="col-6">
                    <!--begin::Item-->
                    <div class="sidebar-border-dashed d-flex flex-column justify-content-center rounded p-3 p-xxl-5">
                        <!--begin::Value-->
                        <div class="text-white fs-2 fs-xxl-2x fw-bold mb-1" data-kt-countup="true" data-kt-countup-value="11" data-kt-countup-prefix="">
                        0
                        </div>
                        <!--begin::Value-->
                        <!--begin::Label-->
                        <div class="sidebar-text-muted fs-6 fw-bold">
                            Failed                        </div>
                        <!--end::Label-->
                    </div>
                    <!--end::Item-->
                </div>
                <!--end::Col-->
                    </div>
        <!--end::Row-->
    </div>
    <!--end::Card Body-->
</div>
<!--end::Statistics Widget-->