<!--begin::Tasks Widget-->
<div class="card card-flush card-p-0 card-reset shadow-none bg-transparent mb-5">
    <!--begin::Header-->
    <div class="card-header align-items-center border-0">
        <!--begin::Title-->
        <h3 class="card-title fw-bold text-white fs-3">Latest Tasks</h3>
        <!--end::Title-->
        <!--begin::Toolbar-->
        <div class="card-toolbar">
            <button type="button" class="btn btn-icon btn-icon-white btn-active-color-primary me-n4" data-kt-menu-trigger="click" data-kt-menu-overflow="true" data-kt-menu-placement="bottom-end">
                <i class="ki-duotone ki-category fs-6"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>            </button>
<!--layout-partial:partials/menus/_menu-1.html-->
        </div>
        <!--end::Title-->
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body py-0">
                    <!--begin::Item-->
            <div class="d-flex flex-nowrap align-items-center mb-7">
                <!--begin::Symbol-->
                <div class="symbol symbol-50px me-5">
                    <span class="symbol-label sidebar-bg-muted">
                        <i class="ki-duotone ki-abstract-26 fs-2x text-success"><span class="path1"></span><span class="path2"></span></i>                    </span>
                </div>
                <!--end::Symbol-->
                <!--begin::Text-->
                <div class="d-flex flex-column">
                    <a href="#" class="text-white text-hover-primary fs-6 fw-bold">Project Briefing</a>
                    <span class="sidebar-text-muted fw-bold">Project Manager</span>
                </div>
                <!--end::Text-->
            </div>
            <!--end::Item-->
                    <!--begin::Item-->
            <div class="d-flex flex-nowrap align-items-center mb-7">
                <!--begin::Symbol-->
                <div class="symbol symbol-50px me-5">
                    <span class="symbol-label sidebar-bg-muted">
                        <i class="ki-duotone ki-pencil fs-2x text-warning"><span class="path1"></span><span class="path2"></span></i>                    </span>
                </div>
                <!--end::Symbol-->
                <!--begin::Text-->
                <div class="d-flex flex-column">
                    <a href="#" class="text-white text-hover-primary fs-6 fw-bold">Concept Design</a>
                    <span class="sidebar-text-muted fw-bold">Art Director</span>
                </div>
                <!--end::Text-->
            </div>
            <!--end::Item-->
                    <!--begin::Item-->
            <div class="d-flex flex-nowrap align-items-center mb-7">
                <!--begin::Symbol-->
                <div class="symbol symbol-50px me-5">
                    <span class="symbol-label sidebar-bg-muted">
                        <i class="ki-duotone ki-message-text-2 fs-2x text-primary"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>                    </span>
                </div>
                <!--end::Symbol-->
                <!--begin::Text-->
                <div class="d-flex flex-column">
                    <a href="#" class="text-white text-hover-primary fs-6 fw-bold">Functional Logics</a>
                    <span class="sidebar-text-muted fw-bold">Lead Developer</span>
                </div>
                <!--end::Text-->
            </div>
            <!--end::Item-->
                    <!--begin::Item-->
            <div class="d-flex flex-nowrap align-items-center mb-7">
                <!--begin::Symbol-->
                <div class="symbol symbol-50px me-5">
                    <span class="symbol-label sidebar-bg-muted">
                        <i class="ki-duotone ki-disconnect fs-2x text-danger"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>                    </span>
                </div>
                <!--end::Symbol-->
                <!--begin::Text-->
                <div class="d-flex flex-column">
                    <a href="#" class="text-white text-hover-primary fs-6 fw-bold">Development</a>
                    <span class="sidebar-text-muted fw-bold">DevOps</span>
                </div>
                <!--end::Text-->
            </div>
            <!--end::Item-->
                    <!--begin::Item-->
            <div class="d-flex flex-nowrap align-items-center ">
                <!--begin::Symbol-->
                <div class="symbol symbol-50px me-5">
                    <span class="symbol-label sidebar-bg-muted">
                        <i class="ki-duotone ki-security-user fs-2x text-info"><span class="path1"></span><span class="path2"></span></i>                    </span>
                </div>
                <!--end::Symbol-->
                <!--begin::Text-->
                <div class="d-flex flex-column">
                    <a href="#" class="text-white text-hover-primary fs-6 fw-bold">Testing</a>
                    <span class="sidebar-text-muted fw-bold">QA Managers</span>
                </div>
                <!--end::Text-->
            </div>
            <!--end::Item-->
    </div>
    <!--end::Body-->
</div>
<!--end::Tasks Widget-->