<!--begin::Topbar-->
<div class="d-flex align-items-center flex-shrink-0 mb-0 mb-lg-0">
<!--layout-partial:partials/search/_inline.html-->
    <!--begin::Activities-->
    <div class="d-flex align-items-center ms-3 ms-lg-4">
        <!--begin::Drawer toggle-->
        <div class="btn btn-icon btn-color-gray-700 btn-active-color-primary btn-outline w-40px h-40px" id="kt_activities_toggle">
            <i class="ki-duotone ki-notification-bing fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>        </div>
        <!--end::Drawer toggle-->
    </div>
    <!--end::Activities-->
    <!--begin::Chat-->
    <div class="d-flex align-items-center ms-3 ms-lg-4">
        <!--begin::Drawer wrapper-->
        <div class="btn btn-icon btn-color-gray-700 btn-active-color-primary btn-outline w-40px h-40px position-relative" id="kt_drawer_chat_toggle">
            <i class="ki-duotone ki-message-text-2 fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
            <!--begin::Bullet-->
            <span class="bullet bullet-dot bg-success h-6px w-6px position-absolute translate-middle top-0 start-50 animation-blink">
            </span>
            <!--end::Bullet-->
        </div>
        <!--end::Drawer wrapper-->
    </div>
    <!--end::Chat-->
    <!--begin::Theme mode-->
    <div class="d-flex align-items-center ms-3 ms-lg-4">
<!--layout-partial:partials/theme-mode/_main.html-->
    </div>
    <!--end::Theme mode-->
        <!--begin::Sidebar Toggler-->
        <div class="d-flex align-items-center d-xxl-none ms-3 ms-lg-4">
            <div class="btn btn-icon btn-color-gray-700 btn-active-color-primary btn-outline w-40px h-40px position-relative" id="kt_sidebar_toggler">
                <i class="ki-duotone ki-burger-menu-2 fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span></i>
            </div>
        </div>
        <!--end::Sidebar Toggler-->
    </div>
<!--end::Topbar-->