<!--begin::Container-->
<div class=" container-xxl " id="kt_content_container">
<!--begin::Row-->
<div class="row gy-5 g-xl-10">
    <!--begin::Col-->
    <div class="col-xl-4">
<!--layout-partial:partials/widgets-2/mixed/_widget-13.html-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-4">
<!--layout-partial:partials/widgets-2/mixed/_widget-14.html-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-4">
<!--layout-partial:partials/widgets-2/mixed/_widget-15.html-->
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->
<!--layout-partial:partials/widgets-2/tables/_widget-9.html-->
<!--begin::Row-->
<div class="row gy-5 g-xl-10">
    <!--begin::Col-->
    <div class="col-xxl-6">
<!--layout-partial:partials/widgets-2/lists/_widget-5.html-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xxl-6">
<!--layout-partial:partials/widgets-2/lists/_widget-4.html-->
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->
</div>
<!--end::Container-->